<form accept-charset="UTF-8" action="/users" method="post">
	<label>Name: <input type = "text" name = "name"></label><br>
	<label>Email Address: <input type = "text" name = "email"></label><br>
	<label>Password: <input type = "password" name = "password"></label><br>
	<input type = "submit" value = "Submit">
	<input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
</form>